@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Click <a asp-controller="MyForm" asp-action="Index">here</a> to go to the form.</p>
    <p>Click <a asp-controller="Home" asp-action="Index">here</a> to go crying back home like a baby.</p>
</body>
</html>
